<div id="<%= dom_id question %>">
  <p>
    <strong>Question:</strong>
    <%= question.question %>
  </p>

  <p>
    <strong>First:</strong>
    <%= question.first %>
  </p>

  <p>
    <strong>Second:</strong>
    <%= question.second %>
  </p>

  <p>
    <strong>Third:</strong>
    <%= question.third %>
  </p>

  <p>
    <strong>Forth:</strong>
    <%= question.forth %>
  </p>

  <p>
    <strong>Answer:</strong>
    <%= question.answer %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= question.subject_id %>
  </p>

</div>
