<p style="color: green"><%= notice %></p>

<h1>Question papers</h1>
<p><strong>selected- subject:</strong>
<%= params[:subject_id]%></p>

<div id="question_papers">
  <% @question_papers.each do |question_paper| %>
    <%= render question_paper %>
    <p>
      <%= link_to "Show this question paper", question_paper %>
    </p>
  <% end %>
</div>

<%= link_to "New question paper", new_question_paper_path(subject: params[:subject_id]) %>
